.k-popup .k-outer-group-header {
  padding: 4px 8px;
  min-height: 1.4285714286em;
  white-space: normal;
}

.k-popup > .k-group-header,
.k-popup .k-outer-group-header.k-first,
.k-popup > .k-virtual-wrap > .k-group-header {
  border-bottom-color: rgba(0, 0, 0, 0.08);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.06);
}

.notfound {
  span {
    font-size: 26px;
  }
}
