//Colores neutro
$black: rgb(0, 0, 0);
$white: #fff;

//Paleta de color LOGYCA
$logyca-blue-light: #46c9b5;
$logyca-blue-regular: #00a28a;
$logyca-blue-dark: #005e4e;
$logyca-orange-light: #ff5f32;
$logyca-orange-regular: #ff3403;
$logyca-orange-dark: #a51b00;
$logyca-grey-light: #86857e;
$logyca-grey-regular: #47463d;
$logyca-grey-dark: #1e1e1e;

//paleta de color de la aplicacion 
$orange-light: rgb(255, 197, 72) ;
$orange-regular: #FFA300 ;
$orange-dark: rgb(255, 94, 0) ;
$blue-light: rgb(79, 185, 255) ;
$blue-regular: #0071BC ;
$blue-hue: #5499C7 ;
$blue-dark: rgb(1, 82, 136) ;
$red-light: rgb(255, 130, 130) ;
$red-regular: #FF0000 ;
$red-hue: #FF4747 ;
$red-hue-dark: #B03A2E ;
$red-dark: rgb(196, 0, 0) ;
$green-light: #8CC63F ;
$green-regular: #009245 ;
$green-dark: #005226 ;
$yellow-light: rgb(252, 255, 59) ;
$yellow-regular: #FFCE00 ;
$yellow-dark: rgb(207, 166, 0);
$grey-light: rgb(202, 202, 202);
$grey-extra-light: rgba(238, 238, 238, 1);
$grey-regular: #636363;
$grey-dark: rgb(26, 26, 26);
